body {
  background-color: #ffff44;
  font-family: "Chivo";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  padding-left: 22rem
}

a {
  text-decoration: underline;
  color: rgba(0,0,0,.75);
}

a:hover {
  color: #000
}

#portal {
  position: fixed;
  left: 2rem;
  top: 2rem;
  width: 15rem;
}

body #portal #profile .icon {
  margin-bottom: 2rem
}
body #portal #profile .icon img {
  width: 6rem;
  height: 6rem;
  display:block;
}

body #portal #profile .name {
  font-weight: 800;
  display: block;
}

body #portal #profile .desc {
  display: inline;
}

body #portal #profile .desc:before {
  content: '—';
}

body #portal #profile .site {
  display: inline;
}
body #portal #profile .site:before {
  content: ' / ';
  color: rgba(0,0,0,0.325);
  text-decoration: none
}
body #portal #profile .port {
  display: block
}
body #portal #profile .feed {
  display:block;
}

body #portal #activity {
  display: block;
  margin-top: 0.25rem
}

body #portal #activity:before {
  content: '—';
}

body #portal #activity t {
  display: inline-block;
}

body #portal #activity t:before {
  content: ' / ';
  color: rgba(0,0,0,0.325);
}

body #portal #activity t:first-child:before {
  content: '';
}

body #portal #activity t unit {
  text-transform: lowercase;
}

body #portal #activity t unit:before {
  content: ' ';
}

body #portal .port_status { display:none; }
body #portal .port_list {
  display:block;
  margin-top: 0.25rem
}

body #portal .port_list:before {
  content: '—';
}
body #portal .port_list ln { display: inline-block; }
body #portal .port_list ln {
  display: inline;
}
body #portal .port_list ln:after {
  content: ', '
}
body #portal .port_list ln:last-child:after {
  content: '.'
}
body #portal .port_list ln t:hover { text-decoration: underline; cursor: pointer; }
body #portal .port_list ln .undat { display:none;}
body #portal .port_list ln.inactive a { color: rgba(0,0,0,0.325) }
body #portal .port_list ln.dead { color: rgba(0,0,0,0.175) }
body #portal .port_list ln.dead:hover { text-decoration: underline; cursor: pointer }

#operator {
  margin: 1rem 0 0;
  padding: 1rem;
  max-width: 36rem;
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
}

#operator input {
  background-color: transparent;
  width: calc(100% - 5rem);
}

#operator #hint {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(0,0,0,0.5);
}

#feed {
  margin: 1rem 0;
  max-width: 36rem;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #000;
}

#feed .entry {
  margin: 0;
  padding: 1rem 1rem 1rem 6rem;
  min-height: 6rem;
  position: relative;
  border-bottom: 2px solid #000
}
#feed .entry:last-child {
  border-bottom: 0
}

#feed .entry a {}

#feed .entry a img.icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 4rem;
  height: auto
}

#feed .entry t.portal {}

#feed .entry t.portal a {}

#feed .entry c.timestamp, #feed .entry c.editstamp {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(0,0,0,0.5)
}

#feed .entry t.message {
  max-width: 100%;
  overflow: hidden;
}

#feed .entry .media {
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
}


#feed .entry hr {
  clear: both;
  height: 1px;
  background-color: transparent;
  border-color: transparent;
}